body {
  background: #444;
}

div.header {
  padding: 30px;
  background: #c12f3c;
  color: #fff;
}
div.header a {
  color: #fff;
}
div.header a.title {
  font-size: 25px;
}

div.footer {
  padding: 30px 0;
  color: #fff;
}

div.content {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 100px;
}
