<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Interactive Tutorials</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
      integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
      crossorigin="anonymous"
    >
    <script
      src="https://code.jquery.com/jquery-3.0.0.min.js"
      integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
      crossorigin="anonymous"
    ></script>
    <link href="{{ site.baseurl }}/dist/react-interactive-tutorials.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/demo-site.css" rel="stylesheet">
  </head>
  <body>
    <script
      src="{{ site.baseurl }}/dist/react-interactive-tutorials.js"
    ></script>
    <script src="{{ site.baseurl }}/demo-tutorial.js"></script>

    <div class="header">
      <div class="container-fluid" style="max-width: 900px;">
        <a class="title" href="{{ site.baseurl }}/">React Interactive Tutorials</a>
        <span style="margin-left: 20px;">
          <a href="https://github.com/ABASystems/react-interactive-tutorials">GitHub</a>&nbsp;|&nbsp;<a href="https://www.npmjs.com/package/react-interactive-tutorials">NPM</a>
        </span>
      </div>
    </div>

    <div class="content">
      {{ content }}
      <script src="{{ site.baseurl }}/demo-site.js"></script>
    </div>

    <div class="footer">
      <div class="container-fluid" style="max-width: 900px;">
        <a href="http://www.aba-systems.com.au/" class="pull-right">
          <img
            class="pull-right"
            style="max-height: 40px;"
            src="http://www.aba-systems.com.au/assets/img/logo.png"
          />
        </a>
        <p>Published under the MIT License</p>
        <p>&copy; Copyright {{ site.time | date: '%Y' }} ABAS</p>
      </div>
    </div>
  </body>
</html>
